* {
  box-sizing: border-box;
}

#title,
#description {
  text-align: center;
}

.container {
  /* border: 1px solid red; */
  /* background-color: aquamarine; */
  margin-bottom: 50px;
  position: relative;
}
/* .tspan {
} */
#choropleth {
  /* overflow: hidden; */
  /* border: 1px solid blue; */
  background-color: white;
  /* const w = 960;
const h = 570; */
  /* min-width: 960px;
  min-height: 570px; */
  position: absolute;
}

#legend svg {
  border: 1px solid grey;
}

.tile {
  overflow: hidden;
}
#tooltip {
  position: absolute;
  background-color: rgba(13, 233, 79, 0.8);
  padding: 5px;
  color: white;
  font-size: 12px;
  border-radius: 10px;
}
