* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

#title {
  padding: 10px;
}

.container {
  margin-bottom: 150px;
}

#heatmap {
  margin: auto;
  position: relative;
}

#tooltip {
  position: absolute;
  background-color: rgb(174, 0, 255);
  padding: 5px;
  color: white;
  font-size: 12px;
  border-radius: 10px;
}

.cell:hover {
  fill: blue;
}

#legend {
  margin: 0 auto;
}
