* {
  box-sizing: border-box;
}

#title,
#description {
  text-align: center;
}

.container {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.7), -1px -2px 3px rgba(0, 0, 0, 0.7), -2px 2px 3px rgba(0, 0, 0, 0.7);
  overflow: auto;
  margin: 20px 50px 50px;
  position: relative;
}

#treemap,
#legend {
  background-color: white;
  text-align: center;
}

#tooltip {
  position: absolute;
  background-color: rgba(238, 16, 171, 0.801);
  padding: 5px;
  color: whitesmoke;
  font-size: 12px;
  border-radius: 10px;
}
